body {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5em;
  height: 100%;
  padding: 1em;
}

.component {
  padding: 1em;
  margin: 1em;
  box-sizing: border-box;
  border: 1px solid #000;
}

#messageDisplay {

  .messages {
    font-style: italic;
  }
}
