body {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5em;
  height: 100%;
}

#imageContainer,
#debugContainer {
  padding: 1em;
  box-sizing: border-box;
}

.column {
  width: 48%;
  margin: .5%;
  border: 1px solid #000;
  vertical-align: top;

  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

#imageContainer {
  height: 400px;
  overflow: hidden;
  canvas {
    transform: scale(0.1);
    transform-origin: top left;
    border: 100px solid red;
    &.is-rotated {
      transform: scale(0.1) rotate(-90deg) translate(-100%, 0);
    }
  }
}

#debugContainer {
  p {
    margin: 0;
    padding: 0;
  }
}


textarea {
  width: 100%;
  height: 200px;
}